body{
    /* background: linear-gradient(to right, #17BED1 0%, #47BD89 100%); */
    text-align: center;
}

.custom-btn{
    margin: 15px auto;
    display:block;
    width: 100px;
}
.custom-btn a{
    color: #fff;
}
.custom-btn-space{
    margin-top: 240px;
}
.custom-form{
    padding: 15px;
    margin-bottom: 0!Important;
}